body {
  margin: 0;
  font-family: proxima-nova-1,proxima-nova-2,montserrat,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  /* background-image: url(./assets/background.png) no-repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  height: 60px;
  max-width: 100%;
  background-color: rgb(2, 16, 26);
  position: static;
  padding: 10px 50px 10px 50px;

}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 30px;
  color: white;
  padding: 10px 10px 10px 10px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 30px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 15px 25px 12px 25px;
  text-decoration: none;
  color: white;
}
.nav > .nav-links > a:hover {
  color: #00D2E5;
}
.nav > #nav-check {
  display: none;
}
@media (max-width:800px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px 15px 15px 15px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    color: #00D2E5;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid white;
    right: 0;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 40px;
    transition: all 0.3s ease-in;
    overflow-y: auto;
    top: 70px;
    left: 0px;
    bottom: 30%;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(50vh - 50px);
    overflow-y: inherit;
  }
}
.hero{
  display:flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-self: center;
  height: 85vh;
  padding: 0px 40px 0px 40px;
}
.hero1{
 flex: 50%;
 margin-top: 7%;
}
.hero2{
  margin-top: 7%;
  flex: 50%;
}
@media(max-width: 600px){
 
  .hero{
    display: flex;
    align-self: center;
    height: 75vh;
    padding: 0px 15px 0px 25px;
  }
  .hero1{
    flex: 50%;
    margin-top: 7%;
    width: fit-content;
   }
   .hero2{
   width: fit-content; 
   display: none;
   }
}
.hero1 h1{
  font-size: 330%;
  font-weight: bolder;
  font-style: inherit;
  color: #00D2E5;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero1 p{
  font-size: 145%;
  font-style: auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hero1 button{
  height: 40px;
  width: 130px;
  border-radius: 20px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-color: #00D2E5;
}
.hero2 img{
  width: 500px;
}
.fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-instagram {
  background: white;
  color: #45bbff;
  border: solid #45bbff;
}
.fa-github {
  background: white;
  color: #45bbff;
  border: solid #45bbff;
}
.fa-twitter {
  background: white;
  color: #45bbff;
  border: solid #45bbff;
}

.fa-linkedin {
 background: white;
  color: #45bbff;
  border: solid #45bbff;
}

.fa-facebook {
  background: white;
  color: #45bbff;
  border: solid #45bbff;
}

.footp{
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
.cright{
  text-align: center;
  font-size: 90%;
  font-weight:normal;
}